# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Hans Larsson
	email = hanandlia@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[diff]
	tool = vimdiff
	submodule = log
[difftool]
	prompt = false
[core]
	excludesfile = ~/.config/git/global_gitignore
[credential]
	helper = cache --timeout=3600
[url "git@github.com:"]
	insteadOf = https://github.com/
